@using fruit_backend_project.Areas.ViewModels.SliderInfos
@model SliderInfoDetailVM

<div class="container " style="margin-left:500px;margin-top:100px;">

    <h3> Title: @Model.Title </h3>
    <h3> Subtitle: @Model.SubTitle </h3>


    <div class=mt-4>

        <a class="btn btn-primary" asp-area="Admin" asp-controller="SliderInfo" asp-action="Index">Back</a>

    </div>
</div>