@model FactDetailVM

<div class="container " style="margin-left:500px;margin-top:100px;">

    <h3> Title: @Model.Title </h3>
    <h3> Subtitle: @Model.NumberInfo </h3>
    <h3> Subtitle: @Model.Icon </h3>



    <div class=mt-4>

        <a class="btn btn-primary" asp-area="Admin" asp-controller="Fact" asp-action="Index">Back</a>

    </div>
</div>