@model CategoryDetailVM

<div class="container mt-5 " style="margin-left:400px;">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>Category Detail</h5>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Name:</b>@Model.Name</p>

            </div><!-- / project-info-box -->


        </div><!-- / column -->

        
    </div>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="Index">Back</a>
</div>