<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="~/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./index.html" class="text-nowrap logo-img">
                      <h3>Mariam Alieva</h3>
                    </a>
                   
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                      
                     
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">UI COMPONENTS</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="Slider" asp-action="Index" aria-expanded="false">
                                
                               Slider

                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="SliderInfo" asp-action="Index" aria-expanded="false">

                                <span class="hide-menu">SliderInfo</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="Category" asp-action="Index" aria-expanded="false">
                               
                                <span class="hide-menu">Category

                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="Product" asp-action="Index"  aria-expanded="false">
                                
                                <span class="hide-menu">Product</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="Feature" asp-action="Index" aria-expanded="false">
                            
                                <span class="hide-menu">Feature</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="ServiceContent" asp-action="Index" aria-expanded="false">
                               
                                <span class="hide-menu">ServiceContent</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="Fact" asp-action="Index" aria-expanded="false">
                               
                                <span class="hide-menu">FactContent</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="Fresh" asp-action="Index" aria-expanded="false">

                                <span class="hide-menu">FreshArea</span>
                            </a>
                        </li>
                     
                      
                     
                    </ul>
                   
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
            @RenderBody()

        <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/js/sidebarmenu.js"></script>
        <script src="~/assets/js/app.min.js"></script>
        <script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
        <script src="~/assets/libs/simplebar/dist/simplebar.js"></script>
        <script src="~/assets/js/dashboard.js"></script>
</body>

</html>